<!DOCTYPE html>
<html>
    <head>
        <title>Mon compte</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="../css/style.css" rel="stylesheet">
        <link href="../css/form.css" rel="stylesheet">
        <link href="../css/compte.css" rel="stylesheet">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">


    </head>

    <body>
<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ACCUEIL
                <span class="glyphicon glyphicon-globe"></span>
            </a>
            <a class="navbar-brand" href="/notifs">
                <span id="notif_logo" class="glyphicon glyphicon-fire"></span>
            </a>
            <a class="navbar-brand" href="/chat">
                <span id="mess_logo" class="glyphicon glyphicon-envelope"></span>
            </a>
        </div>
        <div class="collapse navbar-collapse navHeaderCollapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/compte">
                    Mon profil
                    <span class="glyphicon glyphicon-user"></span>
                </a></li>
                <li><a href="/post_deconnexion">
                    Deconnexion
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </a></li>
            </ul>
        </div>
    </div>
</nav><!-- ____________________________ -->

<!-- HAUT DE LA DIV:"MON COMPTE" -->
        <div class="container div-top">
          <h1><strong><%=data[0].pseudo%></strong> - <%= score2 %>%</h1>
            </br>
            <button id="btn_info" type="button" class="btn" style="background-color: #337ab7;">Mes informations</button>
            <button id="btn_likes" type="button" class="btn" style="background-color: #337ab7;">Mes vues/likes</button>
            <button id="btn_geo" type="button" class="btn" style="background-color: #337ab7;">Mes Photos</button>
        </div>
<!-- ____________________________ -->

<div id="visites" class="container" style="display:none;">
    <div class="row le_top">
        <div class="col-sm-5">
            <div class="form-top-sexe">
                <div class="texte-boite-sexe">
                    <h1>Visites</h1>
                    <p>Ces utilisateurs ont visité votre profil !</p>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </div>
            </div>

            <div class="form-bot" style="height:auto">
                <%views.forEach(function(elem){ %>
                <p><a href="./profil/<%=elem.pseudo%>"><%=elem%></a></p>
                <%})%>
            </div>
        </div>

        <div class="col-sm-1 middle-border-compte"></div>
        <div class="col-sm-1"></div>

        <div class="col-sm-5">
            <div class="form-top-sexe">
                <div class="texte-boite-sexe">
                    <h1>Likes</h1>
                    <p>Ces utilisateurs vous ont liké !</p>
                </div>
                <div class="form-top-right">
                    <i class="fa fa fa-heart"></i>
                </div>
            </div>

            <div class="form-bot" style="height:auto">
                <%likes.forEach(function(elem){ %>
                    <p><a href="/profil/<%=elem.pseudo%>"><%=elem.pseudo%></a></p>
                <%})%>
            </div>
        </div>
    </div>
</div>
<!-- ____________________________ -->

<div id="geoloc" class="container" style="display:none;">
  <div class="row">
    <div class="col-sm-5 col-sm-offset-3">
    </br>
      <div class="form-top-sexe">
        <div class="texte-boite-sexe">
          <h1>Photos</h1>
          <p>Modifiez vos photos:</p>
        </div>
        <div class="form-top-right">
          <i class="fa fa-picture-o"></i>
        </div>
      </div>
      <div class="form-bot">
        <form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/upload"
     method    =  "post">
          <input class="form-control" type="file" id = "sampleFile" name = "sampleFile">
          <label class="radio-inline"><input type="radio" name="optradio" value="1" checked="checked">1</label>
          <label class="radio-inline"><input type="radio" name="optradio" value="2">2</label>
          <label class="radio-inline"><input type="radio" name="optradio" value="3">3</label>
          <label class="radio-inline"><input type="radio" name="optradio" value="4">4</label>
          <label class="radio-inline"><input type="radio" name="optradio" value="5">5</label>
        </br>
          </br>
          <input class="btn" type="submit" id="uploadImage" name="submit" style="color:black;">
          <span id="err_image" class="col-sm-offset-1 col-sm-11 text-danger" style="display: none;"> <strong>fichier non valide</strong></span>
        </form>
      </div>
      </br></br>
      <div class="form-bottom" style="text-align: center;">
        <% pics.forEach(function(elem) {
          if (elem.split('-')[0] == data[0].id) { %>
        <figure>
          <figcaption><%= elem.split('-')[1].split('.')[0] %><id="<%=elem%>" class="fa fa-times" style="color: darkred;" ></i></figcaption>
          <img src="../photos/<%= elem %>" width="240" height="200"/>
        </figure>
        <% }
      }); %>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
</div>
<!-- ----------------- 1ère PARTIE DES INFOS : SEXE ET ORIENTATION SEXUELLE ------------------------>


            <div id="modif_info" class="container">
                <div class="row le_top">
                    <div class="col-sm-5">
                        <div class="form-top-sexe">
                          <div class="texte-boite-sexe">
                              <h1>Sexe</h1>
                              <p>Sélectionnez votre sexe:</p>
                          </div>
                          <div class="form-top-right">
                              <i class="fa fa-venus-mars"></i>
                          </div>
                        </div>

                        <div class="form-bot">
                            <select id="form_sex" class="form-control">
                                <option value="sexe_neutre" style="display: none;" <%if (data[0].sexe === "neutre") {%>selected<%}%>>Choisissez ...</option>
                                <option value="sexe_homme" <%if (data[0].sexe === "homme") {%>selected<%}%>>Homme</option>
                                <option value="sexe_femme"<%if (data[0].sexe === "femme") {%>selected<%}%>>Femme</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-1 middle-border-compte"></div>
                    <div class="col-sm-1"></div>

                    <div class="col-sm-5">
                        <div class="form-top-sexe">
                            <div class="texte-boite-sexe">
                                <h1>Orientation sexuelle</h1>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa fa-heart"></i>
                            </div>
                        </div>

                        <div class="form-bot">
                                <select id="form_sexor" class="form-control">
                                    <option value="orientation_homo" <%if (data[0].orientation_sexuelle === "homosexuel") {%>selected<%}%>>Homo</option>
                                    <option value="orientation_bi" <%if (data[0].orientation_sexuelle === "bisexuel") {%>selected<%}%>>Bi</option>
                                    <option value="orientation_hetero" <%if (data[0].orientation_sexuelle === "heterosexuel") {%>selected<%}%>>Hétéro</option>
                                </select>
                        </div>
                    </div>
                </div>
<!-- ____________________________________________________________________________________________________________ -->

<!-- ----------------- LIGNE SEPARATRICE ------------------------>
                <div class="row">
                    <div class="col-sm-1 mid-border-compte"></div>
                </div>
<!-- _______________________________________________________ -->


<!-- ----------------- 2ème PARTIE DES INFOS : BIO ET LISTE D INTERETS ------------------------>

                <div class="row le_top">
                    <div class="col-sm-5">
                        <div class="form-top-sexe">
                            <div class="texte-boite-sexe">
                                <h1>Bio</h1>
                                <p>Votre description:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-book"></i>
                            </div>
                        </div>

                        <div class="form-bot" style="height: 150px;">
                            <textarea id="form_bio" style="height: 100px;" class="form-control bio_input"><%=data[0].bio%></textarea>
                        </div>
                    </div>

                    <div class="col-sm-1 middle-border-compte"></div>
                    <div class="col-sm-1"></div>

                        <div class="col-sm-5">
                            <div class="form-top-sexe">
                                <div class="texte-boite-sexe">
                                    <h1>Liste d'intérêts</h1>
                                    <p>Vos listes d'intérêts(Maximum 10). Exemple : bio geek</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-list"></i>
                                </div>
                            </div>

                            <div class="form-bot">
                                <div class="tags-input" data-name="tags-input">
                                </div>
                            </div>
                        </div>

                </div>

<!-- ____________________________________________________________________________________________________________ -->

<!-- ----------------- LIGNE SEPARATRICE ------------------------>
                <div class="row">
                    <div class="col-sm-1 mid-border-compte"></div>
                </div>
<!-- _______________________________________________________ -->


<!-- ----------------- 3ème PARTIE DES INFOS : GEOLOC ------------------------>

                <div class="row le_top">
                    <div class="col-sm-5">
                        <div class="form-top-sexe">
                            <div class="texte-boite-sexe">
                                <h1>Ma localisation</h1>
                                <p>Modifiez ma localisation:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-map-marker"></i>
                            </div>
                        </div>




                        <table id="address" style="display: none;">
                          <tr>
                            <td class="label">Street address</td>
                            <td class="slimField"><input class="field" id="street_number"
                                  disabled="true"></input></td>
                            <td class="wideField" colspan="2"><input class="field" id="route"
                                  disabled="true"></input></td>
                          </tr>
                          <tr>
                            <td class="label">City</td>
                            <!-- Note: Selection of address components in this example is typical.
                                 You may need to adjust it for the locations relevant to your app. See
                                 https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete-addressform
                            -->
                            <td class="wideField" colspan="3"><input class="field" id="locality"
                                  disabled="true"></input></td>
                          </tr>
                          <tr>
                            <td class="label">State</td>
                            <td class="slimField"><input class="field"
                                  id="administrative_area_level_1" disabled="true"></input></td>
                            <td class="label">Zip code</td>
                            <td class="wideField"><input class="field" id="postal_code"
                                  disabled="true"></input></td>
                          </tr>
                          <tr>
                            <td class="label">Country</td>
                            <td class="wideField" colspan="3"><input class="field"
                                  id="country" disabled="true"></input></td>
                          </tr>
                        </table>







                        <div id="locationField" class="form-bot">
                          <input id="autocomplete" placeholder="<%if(data[0].geoloc.length <= 0){ %>Votre adresse<%}else{%><%=data[0].geoloc%><%}%>"
                                 onFocus="geolocate()" type="text" style="width:100%"></input>
                        </div>
                    </div>

                    <div class="col-sm-1 middle-border-compte" style="min-height: 570px;"></div>
                    <div class="col-sm-1"></div>

<!-- _______________________________________________________________________ -->


<!-- ----------------- 4ème PARTIE DES INFOS : INFOS DEJA PRESENTES ------------------------>


                    <div class="col-sm-5">
                        <div class="form-top-sexe">
                            <div class="texte-boite-sexe">
                                <h1>Modifiez vos informations</h1>
                                <p>Ici vous pouvez modifier vos informations:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-info"></i>
                            </div>
                        </div>

                        <div class="form-bottom">
                            <input id="form_pseudo" type="text" name="pseudo" value="<%=data[0].pseudo%>" class="form-username form-control" id="pseudo">
                            <span id="err_checkmail2" class="col-sm-offset-1 col-sm-11 text-danger" style="display: none;"> <strong>pseudo déjà utilisé</strong></span>
                            <br>
                            <input id="form_prenom" type="text" name="prenom" value="<%=data[0].prenom%>" class="form-first-name form-control" id="prenom">
                            <br>
                            <input id="form_nom" type="text" name="nom" value="<%=data[0].nom%>" class="form-last-name form-control" id="nom">
                            <br>
                            <input id="form_email" type="text" name="mail" value="<%=data[0].email%>" class="form-username form-control" id="mail">
                            <span id="err_checkmail" class="col-sm-offset-1 col-sm-11 text-danger" style="display: none;" <strong>mail déjà utilisé</strong></span>
                            <br>
                            <input id="form_age" type="number" name="age" value="<%if(data[0].age > 0){ %><%=data[0].age%><%}%>" placeholder="<%if(data[0].age < 0){ %>votre age<%}%>" class="form-username form-control" min="18" max="100">
                            <br>
                            <p>Pour modifier votre mot de passe cliquez <a href="/send_password">ici</a> et consultez vos mails</p>
                        </div>
                    </div>
                </div>

                <button style="margin-bottom: 100px;" type="submit" id="submit" class="btn">Enregistrer  <i class="fa fa-check" style="display: none"></i><i class="fa fa-times" style="display: none"></i></button>

            </div>

            <div style="display: none;"><p id="loc"></p></div>
            <div style="display: none;"><p id="lat"></p></div>
            <div style="display: none;"><p id="long"></p></div>


<!-- ---------------------- FOOTER ---------------------->
        <footer class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="footer-border">
                        <p class="footer-text">Contactez nous sur <strong>matcha@assistance.fr</strong> si vous rencontrez un
                            problème technique.</a></p>
                    </div>
                </div>
            </div>
        </footer>
<!-- ____________________________________________________ -->

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
        <script src="../js/scripts.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script type="text/javascript" src="geolocator.min.js"></script>
        <script type="text/javascript">

        geolocator.config({
            language: "en",
            google: {
                version: "3",
                key: "AIzaSyDnQXZZvZKQ2Xkn3mhSrPuiTh0LVndtnPA"
            }
        });
        </script>



        <script>
            var socket = io.connect('http://localhost:8080');
            $(".glyphicon-remove").on('click', function(){
               $(this).parent().remove();
            });

            [].forEach.call(document.getElementsByClassName('tags-input'), function(el){
                let hiddenInput = document.createElement('input'),
                    mainInput = document.createElement('input'),
                    tags_serv = <%-JSON.stringify(data[0].liste_interet)%>;

                var tags = [];

                hiddenInput.setAttribute('type', 'hidden');
                hiddenInput.setAttribute('name', el.getAttribute('data-name'));
                hiddenInput.setAttribute('id', 'tgs-input');

                mainInput.setAttribute('maxlength', '20');
                mainInput.setAttribute('type', 'text');
                mainInput.setAttribute('placeholder', "Entrez vos tags ici");
                mainInput.classList.add('main-input');
                mainInput.addEventListener('keypress', function(e){
                    if (e.keyCode == 13) {
                        let enteredTags = mainInput.value;
                        let filteredTag = filterTag(enteredTags);

                        filteredTag = "#" + filteredTag;
                        var same_tag = tags.filter(tag => tag.text === filteredTag);

                        if (filteredTag.length - 1 > 0 && same_tag.length < 1 && tags.length - 1 < 10){
                            addTag(filteredTag);
                            mainInput.value = "";
                        }
                    }
                });

                el.appendChild(mainInput);
                el.appendChild(hiddenInput);

                if (tags_serv) {
                    tags_db = tags_serv.split(',');
                    tags_db.forEach(function (e) {
                        addTag(e);
                    });
                }

                function addTag(text) {
                    let tag = {
                        text: text,
                        element: document.createElement('span')
                    };
                    tag.element.classList.add('tag');
                    tag.element.textContent = tag.text;

                    let closeBtn = document.createElement('span');
                    closeBtn.classList.add('close');
                    closeBtn.addEventListener('click', function(){
                        removeTag(tags.indexOf(tag));
                    });
                    tag.element.appendChild(closeBtn);

                    tags.push(tag);

                    el.insertBefore(tag.element, mainInput);
                    refreshTags();
                }

                function removeTag(index) {
                    let tag = tags[index];
                    tags.splice(index, 1);
                    el.removeChild(tag.element);
                    refreshTags();
                }

                function refreshTags() {
                    let tagsList = [];
                    tags.forEach(function(t) {
                        tagsList.push(t.text);
                    });
                    hiddenInput.value = tagsList.join(',');
                }

                function filterTag(tag) {
                    return tag.replace(/[^\w -]/g, '').trim().replace(/\W+/g, '-');
                }
            });

            $("#btn_info").on('click', function(){
                $("#geoloc").attr('style', 'display:none;');
                $("#visites").attr('style', 'display:none;');
                $("#modif_info").removeAttr('style');
            });

            $("#btn_likes").on('click', function(){
                $("#geoloc").attr('style', 'display:none;');
                $("#modif_info").attr('style', 'display:none;');
                $("#visites").removeAttr("style");
            });

            $("#btn_geo").on('click', function(){
                $("#visites").attr('style', 'display:none;');
                $("#modif_info").attr('style', 'display:none;');
                $("#geoloc").removeAttr("style");
            });

            $("#inputTag").keypress(function(e) {
                if(e.which == 13 && $(this).val() !== "#" && $(this).val() !== "") {
                    var tmp = $(this).val();
                    tmp = tmp.split('#').join('');tmp = tmp.split(' ').join('');tmp = '#'+tmp;
                    $(this).val('#');
                    if ($("#tags > span:hidden:first").length > 0) {
                        $("#tags > span:hidden:first").html(tmp);
                        $("#tags > span:hidden:first").removeAttr('style');
                    }
                    else {
                        $("#inputTag").val('');
                        $("#inputTag").attr('placeholder', 'enregistrez d\'abord (max. 15)');
                        $("#inputTag").attr('style', 'color: red;');
                    }
                }
            });
            $(".fa-times").on('click', function(){
              $(this).parent().parent().remove();
              socket.emit('suppr_photo', $(this)[0].localName.split("=")[1]);
            });
            $("#submit").on('click', function(){

//                if (!$('#autocomplete').val()) {
 //                   var address = "Base antarctique Concordia";
   //             }
     //           else {
                    var address = $('#autocomplete').val();
       //         }
                geolocator.geocode(address, function (err, location) {

                        var sexe;
                        if($("#form_sex option:selected").val() === "sexe_neutre") {sexe = "neutre";}
                        else if($("#form_sex option:selected").val() === "sexe_homme") {sexe = "homme";}
                        else if($("#form_sex option:selected").val() === "sexe_femme") {sexe = "femme";}

                        var orsex;
                        if($("#form_sexor option:selected").val() === "orientation_bi") {orsex = "bisexuel";}
                        else if($("#form_sexor option:selected").val() === "orientation_homo") {orsex = "homosexuel";}
                        else if($("#form_sexor option:selected").val() === "orientation_hetero") {orsex = "heterosexuel";}

                        var bio = $("#form_bio").val();
                        var pseudo = $("#form_pseudo").val();
                        var prenom = $("#form_prenom").val();
                        var nom = $("#form_nom").val();
                        var email = $("#form_email").val();
                        var age = $("#form_age").val();
                        if (location) {
                            var geoloc = location.address.city;
                            var lat = location.coords.latitude;
                            var long = location.coords.longitude;
                        }
                        else {
                            var geoloc = "aaleksov";
                            var lat = 0;
                            var long = 0;
                        }
                        var unique = $('#tgs-input').val();

                        if (age > 100) {
                          age = -1;
                        }
                        else if (age < 18) {
                          age = -1;
                        }
                        socket.emit('modif_compte', unique, sexe, orsex, bio, pseudo, prenom, nom, email, geoloc, lat, long, age);
                });

          });

            $("#uploadForm").on('submit', function(){
              if (!$('#sampleFile')[0].files[0] || $('#sampleFile')[0].files[0].type.split('/')[0] !== 'image') {
                $('#err_image').removeAttr('style');
                return false;
              }
            });

            socket.on('ok_compte', function(){
                $("#err_checkmail").attr('style', 'display: none;');
                $("#err_checkmail2").attr('style', 'display: none;');
                $(".fa-times").attr('style', 'display: none;');
                $(".fa-check").removeAttr("style");
                $(".fa-check").attr("style", "color: lightgreen;");
            });
            socket.on('ko_pseudo', function(){
                $("#err_checkmail2").removeAttr("style");
                $("#err_checkmail").attr('style', 'display: none;');
                $(".fa-check").attr('style', 'display: none;');
                $(".fa-times").removeAttr("style");
                $(".fa-times").attr("style", "color: darkred;");
            });
            socket.on('ko_email', function(){
                $("#err_checkmail").removeAttr("style");1
                $("#err_checkmail2").attr('style', 'display: none;');
                $(".fa-check").attr('style', 'display: none;');
                $(".fa-times").removeAttr("style");
                $(".fa-times").attr("style", "color: darkred;");
            });

            // GESTION NOTIFS
            $(document).ready(function(){
              socket.emit('check_notifs');
            });
            socket.on('test_notifs', function(id_user, type) {
                socket.emit('retour_test_notifs', id_user, type);
            });
            socket.on('notif', function(type) {
                if (type === 4) {
                  $('#mess_logo').attr('style', 'color: darkred;')
                }
                else if (type === 22) {
                  $('#notif_logo').attr('style', 'color: darkred;')
                  $('#mess_logo').attr('style', 'color: darkred;')
                }
                else {
                  $('#notif_logo').attr('style', 'color: darkred;')
                }
            });

        </script>

        <script>
          var placeSearch, autocomplete;
          var componentForm = {
            street_number: 'short_name',
            route: 'long_name',
            locality: 'long_name',
            administrative_area_level_1: 'short_name',
            country: 'long_name',
            postal_code: 'short_name'
          };

          function initAutocomplete() {
            // Create the autocomplete object, restricting the search to geographical
            // location types.
            autocomplete = new google.maps.places.Autocomplete(
                /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
                {types: ['geocode']});

            // When the user selects an address from the dropdown, populate the address
            // fields in the form.
            autocomplete.addListener('place_changed', fillInAddress);
          }

          function fillInAddress() {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();

            for (var component in componentForm) {
              document.getElementById(component).value = '';
              document.getElementById(component).disabled = false;
            }

            // Get each component of the address from the place details
            // and fill the corresponding field on the form.
            for (var i = 0; i < place.address_components.length; i++) {
              var addressType = place.address_components[i].types[0];
              if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
              }
            }
          }

          // Bias the autocomplete object to the user's geographical location,
          // as supplied by the browser's 'navigator.geolocation' object.
          function geolocate() {
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                  center: geolocation,
                  radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
              });
            }
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnQXZZvZKQ2Xkn3mhSrPuiTh0LVndtnPA&libraries=places&callback=initAutocomplete"
            async defer></script>


    </body>
</html>
